/* General Styles */
body {
    font-family: 'Salsa', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFD700; /* Saffron color */
    color: #272822; /* Dark text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Header Styles */
.header {
    background-color: #FFA500; /* Orange color */
    padding: 15px 10px; /* Adjusted padding */
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixed position */
    top: 0; /* Positioned at the top */
    z-index: 1000; /* Higher z-index to be above other elements */
}

/* Logo Styles */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFF; /* White text color */
}

/* Navigation Styles */
.nav {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the navigation links vertically */
    margin-top: 10px;
}

.nav a {
    margin: 0 10px; /* Adjusted margin */
    text-decoration: none;
    color: #FFF; /* White text color */
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #4CAF50; /* Hover color */
}

/* Container Styles */
.container {
    text-align: center;
    padding: 20px;
    background-color: #FFF; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%; /* Set max-width to 80% of the viewport */
    width: 100%;
    margin-top: 70px; /* Adjusted margin to account for the fixed header */
}

/* Heading Styles */
h1 {
    color: #272822; /* Dark text color */
}

/* Note Styles */
.note {
    font-style: italic;
    color: #555;
}

/* Code Snippet Styles */
.code-snippet {
    background-color: #272822; /* Dark background color */
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    overflow-x: auto;
}

#codeSnippet {
    font-family: 'JetBrains Mono', monospace;
    color: #F8F8F2; /* Light text color */
}

/* Button Styles */
button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #45a049;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    .nav {
        flex-direction: row; /* Display links horizontally on smaller screens */
        flex-wrap: wrap; /* Allow wrapping if there's not enough space */
        justify-content: space-around; /* Distribute space evenly between links */
    }

    .nav a {
        margin: 10px 0; /* Adjusted margin */
    }

    .container {
        max-width: 100%;
        margin-top: 90px; /* Adjusted margin for smaller screens */
        padding: 10px; /* Adjusted padding */
    }
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
}

.footer-note {
    font-size: 12px;
    color: #555;
}
